[submodule "pluginHost"]
	path = pluginHost
	url = https://github.com/Haritzzz/pluginHost.git
	ignore = dirty
[submodule "pluginInterface"]
	path = pluginInterface
	url = https://github.com/Haritzzz/pluginInterface.git
	ignore = dirty
[submodule "plugin1"]
	path = plugin1
	url = https://github.com/Haritzzz/plugin1.git
	ignore = dirty
[submodule "plugin2"]
	path = plugin2
	url = https://github.com/Haritzzz/plugin2.git
	ignore = dirty
[submodule "plugin3"]
	path = plugin3
	url = https://github.com/Haritzzz/plugin3.git
	ignore = dirty
[submodule "plugin4"]
	path = plugin4
	url = https://github.com/Haritzzz/plugin4.git
	ignore = dirty
[submodule "pluginHarit"]
	path = pluginHarit
	url = https://github.com/Haritzzz/pluginHarit.git
	ignore = dirty
